<div class="container">

    <h3 class="d-flex justify-content-center">Veres Roland </h3>
    <h5 class="d-flex justify-content-center">Beadandó</h5>


    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="munkasok"
                class="m-1 btn btn-outline-primary" Button>Munkások</button>
            </li>
    
            <li class="nav-item">
                <button routerLink="munkak"
                class="m-1 btn btn-outline-success" Button>Munkák</button>
            </li>
    
            <li class="nav-item">
                <button routerLink="gepek"
                class="m-1 btn btn-outline-warning" Button>Gépek</button>
            </li>
        </ul>
        </nav>
    



<router-outlet></router-outlet>